body {
    margin: 0;
    font-family: "Roboto", sans-serif;

}

#main-header, .logo {
    display: flex;
    align-items: center;

}

#main-header {
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #22ff22, #ccddcc)
}

.logo {
    gap: 1rem;
    color: #fff;
}

.logo img {
    width: 50px;
    padding: .5rem;
    border-radius: 23px;
}

.logo h1 a {
    color: #fff;
}

.nav-bar {
    padding: 0 1rem;
}

.nav-bar a {
    color: #fff;
    margin-right: 1rem;
    padding-right: 1rem;
    font-weight: bolder;
}

.nav-bar a:focus, .nav-bar a:hover {
    color: #ff00ff;
}

section {
    background-color: #ccddcc;
}

main #articles {
    padding: 10px;
    color: #222

}

a {
    text-decoration: none;
}

#projects a {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #bb00bb;
}

#projects a:hover, #projects a:focus {
    color: #880088;
}

#doc-btn {
    border-radius: 50%;
    
    font-family: "Roboto", sans-serif;
    padding: .5rem;
    margin-left: .8rem;
}

#doc-btn:focus, #doc-btn:hover {
    border: 1px solid #22ff22;
    background-image: linear-gradient(to bottom, #22ff22, #ccddcc);
    color: #fff;
    cursor: pointer;
}

@media (max-width: 550px) {
   #title {
    font-size: 1.2rem;
   }
   .nav-bar a {
    font-size: 1rem;
   } 
}

@media (max-width: 440px) {
   #title {
    font-size: .9rem;
   }
   .nav-bar a {
    font-size: .6rem;
   } 
}

#projects {
    text-align: center;
    padding: 1em;
}