body {
  background-color: rgb(183, 205, 222);
  font-family: "Roboto", sans-serif;
  color: rgb(50, 50, 50);
}

h1 {
  text-align: center;
}

section {
  margin: 0.5rem 0;
}

form {
  background-color: rgb(205, 205, 210);
  width: 50rem;
  margin: auto;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  font: inherit;
  padding: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
}

label {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.personal-info label {
  display: block;
  font-weight: 600;
}

.personal-info input {
  display: block;
  width: 100%;
}

.personal-info input:focus, textarea:focus {
  background-color: rgb(174, 191, 214);
  color: rgb(32, 5, 63);
  border-color: rgb(54, 75, 114);
}

textarea {
  resize: vertical;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  box-sizing: border-box;

}

select {
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.buttons {
    text-align: right;
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 5rem;
    background-color: transparent;
    border-color: rgb(14, 14, 85);
    font: inherit;
}

#submit {
    background-color: rgb(14, 14, 85);
    color: white;
}

button:hover {
    font-weight: 700;
    background-color: rgb(179, 187, 193);
    cursor: pointer;
}


